<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

<div *ngFor="let actor of actors">

  <h2 id = 'actor_info'>Name: {{actor.name}}
    <br>
    Known For: {{actor.known_for_department}}
    <br>
    Birthday: {{actor.birthday}}
    <br>
    Mini Bio: {{actor.biography}} </h2>

  </div>


  <!-- <link rel="icon" type="image/x-icon" href="favicon.ico">

  <div id="background">

    <h1 id = "page-title">{{title}}</h1>
  <router-outlet></router-outlet>
  <br>
  <br>
  </div> -->
